body {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1, h2 {
    padding-bottom: 20px;
}

p {
    margin: 20px 0px 20px 0px !important;
}

.input-group, .form-check {
    padding-bottom: 20px;
}